---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Ranking - Pulse Manga">
  <div class="container py-10">
    <h1 class="text-3xl font-bold text-primary">Ranking</h1>
  </div>
</Layout>
