---
import "../styles/globals.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Read manga online." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-text-main font-sans antialiased">
    <slot />
  </body>
</html>
